/*
    CONTENEDORES
*/

.main-page-container {
    box-sizing: border-box;
    padding: 0 30px 60px;
}
.main-container {
    box-sizing: border-box;
    padding: 0 30px;
}

@media (max-width: 425px) {
    .main-page-container {
        padding: 0 15px 15px;
    }
    .main-container {
        padding: 0 15px;
    }
}

/* 

    Header page

*/

.header-page {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    /* height          : 56px; */
    border-bottom: 1px solid var(--bg-tertiary);
}
.header-page__title {
    margin-right: 5px;
    color: var(--txt-primary);
    font-weight: 500;
}
.header-page__description {
    font-size: 12px;
    color: var(--txt-secondary);
}
.header-page__item-counter {
    color: var(--txt-off);
}

/* Media queries */

@media (max-width: 425px) {
}

/* 

    Card

*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    background-color: var(--bg-primary);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
}
.card--no-margin {
    margin: 0 !important;
}
.card-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--txt-primary);
    background-color: var(--card-header-bg);
    border-bottom: 1px solid var(--bg-tertiary);
    transition: ease-in-out all 0.1s;
}
.card-name {
    font-size: 16px;
    font-weight: 500;
}
.card-body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50px;
    background-color: var(--card-body-bg);
}
.card-header--style-2 {
    color: #ffffff;
    background-color: #4c64c1;
}
.card-header--style-3 {
    color: #ffffff;
    background-color: #eab308;
}
.card-header--disabled {
    color: var(--card-header-txt-disabled);
    background-color: var(--card-header-bg-disabled);
}
.card-body-content {
    box-sizing: border-box;
    padding: 10px;
    overflow-x: auto;
}
.card-footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--card-footer-bg);
    border-top: 1px solid var(--bg-tertiary);
}

/* Media queries */

@media (min-width: 576px) {
    .card {
        margin: 10px;
    }
}

/*

    TABS

*/

.tab-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50px;
    background-color: var(--card-body-bg);
}
.tab-content-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-header-bg);
    border-bottom: 1px solid var(--bg-tertiary);
}
.tab-content__nombre {
    font-size: 14px;
    font-weight: 600;
    color: var(--txt-primary);
}
.tab-content-body {
    box-sizing: border-box;
    padding: 10px;
    overflow-x: auto;
}
.tab-content-footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--card-footer-bg);
    border-top: 1px solid var(--bg-tertiary);
}

/* 

    Form controls

*/

.form-control-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control-group {
    width: 100%;
}
.form-control-label {
    margin-bottom: 3px;
    color: var(--formcontrol-lbl);
    font-size: 14px;
    font-weight: 500;
}
.form-control {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: var(--formcontrol-txt);
    background: var(--formcontrol-bg);
    border: 1px solid var(--formcontrol-border);
    border-radius: 3px;
    outline: none;
    transition: border-color, box-shadow ease-in-out 80ms;
}
input.form-control:read-only {
    border-color: transparent;
    background: var(--formcontrol-bg);
    box-shadow: none;
}
.form-control::placeholder {
    color: var(--formcontrol-placeholder);
}
.form-control:hover {
    border: 1px solid var(--formcontrol-border-hover);
}
.form-control:focus {
    background: transparent;
    border: 1px solid var(--formcontrol-border-focus);
    box-shadow: var(--formcontrol-box-shadow-focus);
}
.form-control option {
    font-weight: normal;
    background-color: var(--bg-primary);
}
.is-invalid {
    border-color: var(--formcontrol-border-invalid) !important;
}
.is-valid {
    border-color: var(--formcontrol-border-valid) !important;
}
.invalid-feedback {
    font-size: 12px;
    font-weight: 500;
    color: var(--formcontrol-border-invalid);
}
.invalid-feedback p,
.invalid-feedback span {
    display: block;
    margin-top: 3px;
}

/* Media queries */

@media (max-width: 425px) {
    .form-control-container {
        flex-direction: column;
    }
    .d-flex.--sm-flex-column {
        flex-direction: column;
    }
}

/* 

    Buttons

*/

/* Primary */

.btn-primary {
    padding: 0 10px;
    height: 35px;
    font-weight: 500;
    color: var(--btn-primary-txt);
    background-color: var(--btn-primary-bg);
    border: 1px solid var(--btn-primary-border);
    border-radius: 4px;
}
.btn-primary:hover {
    color: var(--btn-primary-txt-hover);
    background-color: var(--btn-primary-bg-hover);
    border-color: var(--btn-primary-border-hover);
    cursor: pointer;
    transition: all ease 0.1s;
}
.btn-primary:disabled {
    color: var(--btn-primary-txt-disabled);
    background-color: var(--btn-primary-bg-disabled);
    border-color: var(--btn-primary-border-disabled);
    cursor: auto;
}
.btn-primary--active {
    color: var(--btn-primary-txt-hover);
    background-color: var(--btn-primary-bg-hover);
    border-color: var(--btn-primary-border-hover);
}

/* Secondary */

.btn-secondary {
    padding: 0 10px;
    height: 35px;
    font-weight: 500;
    color: var(--btn-secondary-txt);
    background-color: var(--btn-secondary-bg);
    border: 1px solid var(--btn-secondary-border);
    border-radius: 4px;
}
.btn-secondary:hover {
    color: var(--btn-secondary-txt-hover);
    background-color: var(--btn-secondary-bg-hover);
    border-color: var(--btn-secondary-border-hover);
    cursor: pointer;
    transition: all ease 0.1s;
}
.btn-secondary:disabled {
    color: var(--btn-secondary-txt-disabled);
    background-color: var(--btn-secondary-bg-disabled);
    border-color: var(--btn-secondary-border-disabled);
    cursor: auto;
}

/* Create */

.btn-create {
    padding: 0 10px;
    height: 35px;
    font-weight: 500;
    color: var(--btn-create-txt);
    background-color: var(--btn-create-bg);
    border: 1px solid var(--btn-create-border);
    border-radius: 4px;
}
.btn-create:hover {
    color: var(--btn-create-txt-hover);
    background-color: var(--btn-create-bg-hover);
    cursor: pointer;
    transition: all ease 0.1s;
}
.btn-create:disabled {
    color: var(--btn-create-txt-disabled);
    background-color: var(--btn-create-bg-disabled);
    cursor: auto;
}

/* Update */

.btn-update {
    padding: 0 10px;
    height: 35px;
    font-weight: 500;
    color: var(--btn-update-txt);
    background-color: var(--btn-update-bg);
    border: 1px solid var(--btn-update-border);
    border-radius: 4px;
}
.btn-update:hover {
    color: var(--btn-update-txt-hover);
    background-color: var(--btn-update-bg-hover);
    border-color: var(--btn-update-border-hover);
    cursor: pointer;
    transition: all ease 0.1s;
}
.btn-update:disabled {
    color: var(--btn-update-txt-disabled);
    background-color: var(--btn-update-bg-disabled);
    cursor: auto;
}

/* Delete */

.btn-delete {
    padding: 0 10px;
    height: 35px;
    font-weight: 500;
    color: var(--btn-delete-txt);
    background-color: var(--btn-delete-bg);
    border: 1px solid var(--btn-delete-border);
    border-radius: 4px;
}
.btn-delete:hover {
    color: var(--btn-delete-txt-hover);
    background-color: var(--btn-delete-bg-hover);
    border: 1px solid transparent;
    transition: all ease 0.1s;
    cursor: pointer;
}

/* Cancel */

.btn-cancel {
    padding: 0 10px;
    height: 35px;
    font-weight: 500;
    color: var(--btn-cancel-txt);
    background-color: var(--btn-cancel-bg);
    border: 1px solid var(--btn-cancel-border);
    border-radius: 4px;
}
.btn-cancel:hover {
    color: var(--btn-cancel-txt-hover);
    background-color: var(--btn-cancel-bg-hover);
    cursor: pointer;
    transition: all ease 0.1s;
}

/* Toggle */

.btn-toggle {
    padding: 0 10px;
    height: 28px;
    font-weight: 500;
    color: var(--toggle-txt);
    background-color: var(--toggle-bg);
    border: 1px solid var(--toggle-border);
}
.btn-toggle:hover {
    color: var(--toggle-txt-hover);
    background-color: var(--toggle-bg-hover);
    cursor: pointer;
    transition: all ease 0.1s;
}
.btn-toggle--active {
    color: var(--toggle-txt-active);
    background-color: var(--toggle-bg-active);
    border-color: var(--toggle-border-active);
}
.btn-toggle--active:hover {
    color: var(--toggle-txt-active);
    background-color: var(--toggle-bg-active);
    border-color: var(--toggle-border-active);
}
.btn-toggle--1 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.btn-toggle--2 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Action */

.btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-secondary-txt);
    background-color: var(--btn-secondary-bg);
    border: 1px solid var(--btn-secondary-border);
    border-radius: 4px;
}
.btn-action:hover {
    color: var(--btn-secondary-txt-hover);
    background-color: var(--btn-secondary-bg-hover);
    border-color: var(--btn-secondary-border-hover);
    cursor: pointer;
    transition: all ease 0.1s;
}
.btn-action:disabled {
    color: var(--btn-action-txt-disabled);
    background-color: var(--btn-action-bg-disabled);
    border-color: var(--btn-action-border-disabled);
    cursor: auto;
}

/*

    Badges

*/
.badge {
    padding: 0 5px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    color: var(--btn-secondary-txt);
    background-color: var(--btn-secondary-bg);
    border: 1px solid var(--btn-secondary-border);
}
.badge.--badge-info {
    background-color: var(--alert-info-bg);
    border: 1px solid var(--alert-info-border);
    color: var(--alert-info-txt);
}
.badge.--badge-success {
    background-color: var(--alert-success-bg);
    border: 1px solid var(--alert-success-border);
    color: var(--alert-success-txt);
}
.badge.--badge-danger {
    background-color: var(--alert-danger-bg);
    border: 1px solid var(--alert-danger-border);
    color: var(--alert-danger-txt);
}
.badge.--badge-warning {
    background-color: var(--alert-warning-bg);
    border: 1px solid var(--alert-warning-border);
    color: var(--alert-warning-txt);
}
.badge.--badge-bg-none {
    background-color: transparent;
}

/*

    Textos

*/

.txt-off {
    font-size: 14px;
    color: var(--txt-off);
}

.txt-secondary {
    font-size: 14px;
    color: var(--txt-secondary);
}

.txt-primary {
    font-weight: 500;
    color: var(--txt-primary);
}

/*

    Tables

*/

/*
    Table basic
*/

.table-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.table-basic-wrapper {
    overflow: auto;
    border-left: 1px solid var(--table-border);
    border-right: 1px solid var(--table-border);
}

/* Table basic header */

.table-basic-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-header-bg);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--table-border);
}

.table-basic__title {
    font-size: 14px;
    font-weight: 600;
    color: var(--txt-primary);
}
.table-basic__search-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
.table-basic__search-text {
    margin-right: 5px;
    color: var(--txt-primary);
    font-size: 14px;
    font-weight: 500;
}

/* Table basic boody */

.table-basic {
    width: 100%;
    max-width: 100%;
    background-color: var(--table-body-bg);
    border-collapse: collapse;
}
.table-basic thead th,
.table-basic th {
    position: sticky;
    top: 0;
    z-index: 1;
    color: var(--txt-secondary);
    background-color: var(--table-header-bg);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.table-basic thead {
    text-align: left;
    white-space: nowrap;
    background-color: var(--table-header-bg);
}
.table-basic thead .sorting {
    background-image: url(../images/table/sort_both.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}
.table-basic thead .sorting_asc {
    background-image: url(../images/table/sort_asc.png) !important;
}
.table-basic thead .sorting_desc {
    background-image: url(../images/table/sort_desc.png) !important;
}
.table-basic th {
    padding: 0.45rem;
    border: none;
}
.table-basic td {
    white-space: nowrap;
    padding: 0.45rem;
    font-size: 14px;
    color: var(--txt-primary);
    border-bottom: 1px solid var(--bg-tertiary);
}
.table-basic tbody tr:hover {
    background-color: var(--table-row-bg-hover);
}
.table-basic__no-data {
    text-align: center;
    color: var(--txt-off);
    padding: 20px;
    border-left: 1px solid var(--bg-tertiary);
    border-right: 1px solid var(--bg-tertiary);
    border-bottom: 1px solid var(--bg-tertiary);
}

/* Table basic footer */

.table-basic-footer {
    text-align: right;
    padding: 5px;
    border: 1px solid var(--bg-tertiary);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Table basic media queries */

@media (max-width: 425px) {
    .table-basic-header {
        flex-direction: column;
    }
    .table-basic__search-box {
        width: 100%;
    }
}

/* 

    Utilities

*/

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.w-30 {
    width: 30%;
}
.w-none {
    width: none;
}
.w-fit-content {
    width: fit-content;
}
.d-block {
    display: block;
}
.max-width-none {
    max-width: none !important;
}
.max-width-fit-content {
    max-width: fit-content !important;
}
.max-height-none {
    max-height: none !important;
}
.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon--spin {
    animation: spin-animation 1s infinite;
    animation-timing-function: linear;
    /* display: inline-block; */
}
.icon--small {
    font-size: 20px;
}
.icon--off {
    color: var(--txt-off);
}

@keyframes spin-animation {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Texts */

.txt-center {
    text-align: center !important;
}
.txt-right {
    text-align: right !important;
}
.txt-left {
    text-align: left !important;
}

/* Padding */

.p-5 {
    padding: 5px !important;
}
.p-10 {
    padding: 10px !important;
}
.p-15 {
    padding: 15px !important;
}
.p-20 {
    padding: 20px !important;
}
.p-25 {
    padding: 25px !important;
}

/* Margins */

.mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.ml-20 {
    margin-left: 20px !important;
}

/* Flexbox */

.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.justify-content-center {
    -ms-flex-pack: justify !important;
    justify-content: center !important;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

/*

    Grid

*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .col-sm {
        flex: 1 0 0%;
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
